<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Delete Institution</h4>
  <button
    type="button"
    class="close"
    aria-label="Close button"
    aria-describedby="modal-title"
    (click)="dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    <strong>Are you sure you want to delete institution?</strong>
  </p>
  <p>
    All information associated to this institution will be permanently deleted.
    <span class="text-danger">This operation can not be undone.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark btn-rounded" (click)="dismiss()">
    Cancel
  </button>
  <button
    type="button"
    ngbAutofocus
    class="btn btn-danger btn-rounded"
    (click)="remove()"
  >
    Ok
  </button>
</div>
