<div class="">
  <div class="breadcrumb">
    <h1>Institutions</h1>
    <ul>
      <li>
        <a href="#">List</a>
      </li>
      <li>All</li>
    </ul>
    <div class="actions flex-grow-1 d-flex justify-content-end">
      <a
        routerLink="."
        [queryParams]="{ modal: '' }"
        class="btn btn-dark btn-rounded m-1"
        >Add</a
      >
    </div>
  </div>
  <div class="separator-breadcrumb border-top"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <ngx-datatable
          class="material"
          [loadingIndicator]="isLoading"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="columnMode.flex"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto"
          [externalPaging]="true"
          [count]="pagination.count"
          [offset]="pagination.offset"
          [limit]="pagination.limit"
          (page)="paginate.emit($event)"
        >
        </ngx-datatable>
        <ng-template #actionsCell let-row="row">
          <a routerLink="." [queryParams]="{ modal: row.id }">
            <i class="i-File-Edit"></i>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
