:host,
:host button * {
  pointer-events: none;
}

button {
  position: relative;
  transition: all 0.15s ease-in-out;
  pointer-events: auto;
  width: 100%;
  &.loading {
    padding-left: 36px;
  }
  .btn-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 10px;
  }
}
