<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Institution</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <loading-overlay [loading]="isLoading"></loading-overlay>
  <p>
    Add an institution with the required details to streamline the process of
    registering and managing consultants along with their respective business
    owners.
  </p>
  <form [formGroup]="form">
    <div class="form-group mb-3">
      <label for="name">Name</label>
      <input
        id="name"
        formControlName="name"
        class="form-control border"
        placeholder="Enter institution name"
        [ngClass]="{ 'border-danger': isInvalid('name') }"
      />
      <ng-container *ngIf="isInvalid('name')">
        <small *ngIf="hasError('name', 'required')" class="text-danger"
          >Name is required</small
        >
      </ng-container>
    </div>
    <label
      *ngFor="let status of ['active', 'suspended', 'deleted']"
      class="radio radio-dark"
    >
      <input
        formControlName="radio"
        type="radio"
        [value]="status"
        [checked]="form.get('status').value === status"
      />
      <span>{{ status | titlecase }}</span>
      <span class="checkmark"></span>
    </label>
    <ng-container *ngIf="isInvalid('status')">
      <small *ngIf="hasError('status', 'required')" class="text-danger"
        >Status is required</small
      >
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <btn-loading
    class="flex-grow-1"
    btnClass="btn btn-dark btn-rounded"
    [loading]="isSaving"
    [disabled]="isLoading"
    (click)="save()"
    >Save</btn-loading
  >
</div>
